<div class="header">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="#"><img class="image-logo" src="../../../../assets/images/Enparadigm-LOGO.png" /></a>
                </div>
                <div class="col-md-6 text-right">
                    <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="main-link">Main Site</a>
                </div>
            </div>
        </div>
    </div>
</div>